<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.nz.net/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
</head>
<body>
    <div layout:fragment="content" class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <!--hidden데이터에 PK를 저장-->
                    <input type="hidden" id="article-id" th:value="${article.id}">
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1" th:text="${article.title}"></h1>
                        <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                    </header>
                    <section class="mb-5">
                        <p class="fs-5 mb-4" th:text="${article.content}"></p>
                    </section>
                    <section class="mb-5">
                        <p class="fs-5 mb-4" th:each="image : ${article.images}">
                            <img th:src="|@{/file/{fileName}(fileName=${image.uuid})}|"
                                 th:alt="${image.fileName}"
                                class="img-fluid"/>
                        </p>
                    </section>
                    <th:block sec:authorize="isAuthenticated()" th:if="${article.userId == #authentication.name}">
                        <a id="modify-btn"
                                th:href="|@{/new-article(id=${article.id})}&${pageRequestDTO.link}|"
                                class="btn btn-primary btn-sm">수정</a>
                        <button type="button" id="delete-btn" class="btn btn-secondary btn-sm">삭제</button>
                        <button type="button" id="axios-delete-btn" class="btn btn-secondary btn-sm">Axios삭제</button>
                        <button type="button" id="axios-delete-btn2" class="btn btn-secondary btn-sm">Axios삭제2</button>
                    </th:block>
                    <a th:href="|@{/articles}?${pageRequestDTO.link}|" class="btn btn-secondary btn-sm">목록보기</a>
                </article>
            </div>
        </div>
    </div>
</body>
</html>