<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.nz.net/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="article-id" th:value="${article.id}">
                <header class="mb-4">
                    <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
                </header>
                <section class="mb-5">
                    <textarea class="form-control h-25" rows="10" placeholder="내용" id="content"
                              th:text="${article.content}"></textarea>
                </section>
                <section class="mb-5">
                    <input type="file" name="files" id="files" class="form-control" multiple>
                </section>
                <section class="mb-5">
                    <p class="fs-5 mb-4" th:each="image : ${article.images}">
                        <img th:src="|@{/file/{fileName}(fileName=${image.uuid})}|"
                             th:alt="${image.fileName}"
                             class="img-fluid"
                             th:data-src="${image.uuid}"
                        />
                    </p>
                </section>
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${article.userId == #authentication.name}">
                        <!--<button th:if="${article.id}!=null" type="button" id="modify-btn"
                                class="btn btn-primary btn-sm">수정
                        </button>
                        <button th:if="${article.id}!=null" type="button" id="modify-btn2"
                                class="btn btn-primary btn-sm">axios수정
                        </button>-->
                        <button th:if="${article.id}!=null" type="button" id="modify-btn3"
                                class="btn btn-primary btn-sm">수정(파일)
                        </button>
                    </th:block>
                </th:block>
                <!--                    <button th:if="${article.id}==null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>-->
                <!--                    <button th:if="${article.id}==null" type="button" id="create-btn2" class="btn btn-primary btn-sm">axios등록</button>-->
                <button th:if="${article.id}==null" type="button" id="create-btn3" class="btn btn-primary btn-sm">
                    등록(파일)
                </button>
                <a th:href="|@{/articles}?${pageRequestDTO.link}|" class="btn btn-secondary btn-sm">목록보기</a>
            </article>
        </div>
    </div>
</div>

</body>
</html>